.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
    width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding-left: 55px;
    padding-right: 55px;
    width: 1280px;
  }
}
