.title{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  margin-top: 20px;
  margin-bottom: 36px;
}
.plusBtn{
  padding: 0 ;
  border: none; outline: none;
  transition: all .3s linear;
  border-radius: 40px;
  background-position: 50%;
  background-color: #FF6B08;
}

.plusBtn:hover,
.plusBtn:focus{
  box-shadow: 0 0 5px 0 #FF6B08 inset, 0 0 5px 4px #FF6B08;
}


@media screen and (max-width: 767px) {
  .list {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 0 0px 60px 0px;
  }

  .plusBtn{
    padding:0;
    bottom: 20px;
    right: 20px;
    width: 44px;
    height: 44px;
    position: fixed;
    z-index: 100;
  }

  .create{
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .list {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 0 0px 60px 0px;
  }

  .mainPage{
    display: flex;
    align-items: center;
  }

  img{
    margin-bottom: -1px;
    margin-top: 2px;
  }

  .title{
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    margin-top: 40px;
    margin-bottom: 30px;
  }

  .link{
    margin-left: 471px;
  }

  .plusBtn{
    position: relative;
    margin-top: 20px;
  }

  .create{
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .link{
    display:flex;
    text-decoration: none;
    align-items: center;
    margin-left: 727px;
  }

  .create{
    color: #181C27;
    display: initial;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    padding-left:20px;
  }

}

