.link{
  text-decoration: none;
}

.item{
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 32px;
  margin-top: 16px;
}

.colorItem{
  width: 36px;
  height: 36px;
}

.title{
  margin-left: 15px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
}

.colorItem:nth-child(8n + 1) {
  background-color: #8C72DF;
}

.colorItem:nth-child(8n + 2) {
  background-color: #FF765F;
}

.colorItem:nth-child(8n + 3) {
  background-color: #72df87;
}

.colorItem:nth-child(8n + 4) {
  background-color: #f78336;
}

.colorItem:nth-child(8n + 5) {
  background-color: #f3be2f;
}

.colorItem:nth-child(8n + 6) {
  background-color: #e46dde;
}

.colorItem:nth-child(8n + 7) {
  background-color: #4594f1;
}

.colorItem:nth-child(8n + 8) {
  background-color: #d45535;
} 