@media screen and (max-width: 767px) {
 .modalOverlay__open{
    background-color: rgba(24, 28, 39, 0.25);
    position: fixed;
    top: 60;
    left: 0;
  }


  .modalOverlay__close{
    display: none;
  } 

  .modalWindow {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, 60px);
    background-color: #FFF;
    min-height: 461px;
    width: 950px;
    border-radius: 10px;
    padding: 10px;
    overflow-y: scroll;
  }

  ::-webkit-scrollbar {
    width: 15px;
  }

  ::-webkit-scrollbar-track{
  background: transparent;
  box-shadow: #F1F2F7;

  }

  ::-webkit-scrollbar-thumb{
  background: #FF6B08;
  border-radius: 8px;
  }

  .body{
    position: relative;
    width: 100%;
  } 

  .modal__close{
    position: sticky;
    top: 0;
    left: 460px;
    font-size: 20px;
    background-color: #FFF;
    border: none;
    cursor: pointer;
    padding: 0;
  }
} 

@media screen and (min-width: 768px) and (max-width: 1169px) {
  .modalOverlay__open{
    background-color: rgba(24, 28, 39, 0.25);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }


  .modalOverlay__close{
    display: none;
  }

  .modalWindow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    width: 688px;
    height: 340px;
    border-radius: 10px;
    padding: 10px;
  }

  .body{
    position: relative;
  }

  .modal__close{
    position: absolute;
    right: 25px;
    top: 15px;
    font-size: 20px;
    background-color: #FFF;
    border: none;
    cursor: pointer;
    padding: 0;
  }
}

@media screen and (min-width: 1170px) {
  .modalOverlay__open{
    background-color: rgba(24, 28, 39, 0.25);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }


  .modalOverlay__close{
    display: none;
  } 

  .modalWindow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    min-height: 461px;
    width: 950px;
    border-radius: 10px;
    padding: 10px;
  }

  .modalWindow {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .body{
    position: relative;
  } 

  .modal__close{
    position: absolute;
    right: 25px;
    top: 15px;
    font-size: 20px;
    background-color: #FFF;
    border: none;
    cursor: pointer;
    padding: 0;
  }
}

