.item{
  position:relative;
}

.item:before{
  display: block;
  position: absolute;
  top: 6px;
  content: "";
  left: 0;
  transform: translateY(-50%);
  width: 36px;
  height: 36px;
  box-shadow: 2px 2px 4px rgba(0,5,97,.2);
  border-radius: 5px;
}

.item:nth-child(8n + 1):before {
  background-color: #8C72DF;
}

.item:nth-child(8n + 2):before {
  background-color: #FF765F;
}

.item:nth-child(8n + 3):before {
  background-color: #72df87;
}

.item:nth-child(8n + 4):before {
  background-color: #f78336;
}

.item:nth-child(8n + 5):before {
  background-color: #f3be2f;
}

.item:nth-child(8n + 6):before {
  background-color: #e46dde;
}

.item:nth-child(8n + 7):before {
  background-color: #4594f1;
}

.item:nth-child(8n + 8):before {
  background-color: #d45535;
} 

.mainLeftSprint{
  z-index: 100;
}

.arrow{
  content: url(./images/arrow.svg);
  width: 30px;
}

.showProjectContainer{
  display: flex;
}

.link, .linkAdd{
  text-decoration: none;
  color: #181C27;
}


@media screen and (max-width: 767px) {
  
  .sidebarList{
    display: none;
  }
  
  .showProject{
    width: 150px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .mainLeftSprint{
    width: 216px;
    min-height: 100%;
  }

  .mainLeftSprint:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgba(24, 28, 39, 0.1);
    top: 100px;
    left: 0;
  }

  .linkAdd{
    display: none;
  }

  .plusBtn{
    display: none;
  }

  
}

@media screen and (min-width: 768px) {
  .mainLeftSprint{
    position: sticky;
    height: calc(100vh - 80px);
    width: 214px;
    padding-top: 20px;
    padding-right: 27px;
    top: 0;
  }

  .mainLeftSprint:after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 100vh;
    background-color: rgba(24, 28, 39, 0.1);
    top: 0;
    right: 0px;
  }

  .showProjectMain{
    width: 150px;
  }

  .showProjectContainer{
    display: flex;
    width: 100px;
  }

  .showProject{
    width: 200px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .sidebarList{
    width: 170px; 
  }

  .linkAdd{
    position: absolute;
    text-align: center;
    bottom: 90px;
    left: 30px;
  }
  
  .container{
    overflow: auto;
    max-height: 400px;
  }
  
  .plusBtn{
    background-color: transparent;
    margin: 0 auto;
    padding-top: 5px;
    transition: all .3s linear;
    border-radius: 40px;
    width: 44px;
    height: 44px;
    background-position: 50%;
    background-color: #FF6B08;
  }
  
  .linkAdd .plusBtn:hover,
  .linkAdd .plusBtn:focus{
    box-shadow: 0 0 10px 0 #FF6B08 inset, 0 0 10px 4px #FF6B08;
  }
  .createProject{
    margin-top: 15px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #181C27;
  }
  

}
@media screen and (min-width: 1280px) {

  .container{
    position: absolute;
    max-height: 500px;
    top: 30%;
  }

}

