*,
::after,
::before {
  box-sizing: border-box;
  background-repeat: no-repeat;
}
body {
  font-family: "Montserrat", sans-serif;
  background: #e5e5e5;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
