* {
  box-sizing: border-box;
}

.title {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
}

form {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  color: rgba(24, 28, 39, 0.6);
}

.neon_border {
}

.neon_border input {
  background-color: transparent;
}

.form-title {
  text-align: center;
}

.errorDiv {
  color: red;
  position: absolute;
  right: 10px;
  font-weight: 400;
  font-style: normal;
  size: 12px;
  line-height: 14px;
  padding: 5px;
}

.text {
  padding: 10px;
}

.button {
  display: block;
  margin: 0 auto;
  width: 154px;
  height: 44px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.04em;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  background: #ff6b08;
  box-shadow: 0px 3px 4px rgba(255, 107, 8, 0.3);
  border-radius: 25px;
  margin-bottom: 20px;
  transition: all 250ms linear;
}

.button:hover,
.button:focus {
  color: #ff6b08;
  background: #ffffff;
}

.button_container {
  padding: 40px;
}

.formItem {
  margin-bottom: 100px;
  position: relative;
  padding-top: 30px;
  margin-bottom: 10px;
}

.label {
  position: absolute;
  left: 10px;
  top: 40px;
  transition: top 0.5s;
}

.checkbox {
  position: relative;
  display: none;
}

.checkbox_span {
  position: absolute;
  display: block;
  width: 34px;
  height: 34px;
  background: transparent;
  border: 1px solid #d1d2d4;
  border-radius: 50%;
  box-sizing: border-box;
  top: 12px;
}

.checkbox_container {
  position: relative;
  padding: 20px;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 10px;
}

.checkbox_span::before {
  transform: translate(50%, 50%);
  position: absolute;
  display: block;
  content: "";
  background-color: none;
  border-radius: 50px;
  width: 16px;
  height: 16px;
}

.checkbox:checked + .checkbox_span::before {
  background-color: #ff6b08;
}

.checkbox_label {
  padding-left: 44px;
}

.input,
textarea {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  size: 16px;
  line-height: 20px;
  background-color: none;
  display: block;
  padding: 5px;
  margin: auto;
  padding: 5px;
  margin: auto;
  border: none;
  border-bottom: none;
  background: no-repeat bottom, 50% calc(100% - 1px);
  background-size: 0 100%, 100% 100%;
  padding-bottom: 8px;
  width: 280px;
  cursor: pointer;
  background-image: linear-gradient(0deg, #ff6b08 2px, rgba(156, 39, 176, 0) 0),
    linear-gradient(0deg, #ccc 1px, hsla(0, 0%, 82%, 0) 0);
}

textarea {
  resize: vertical;
  min-height: 100px;
}

button {
  display: block;
  width: 100%;
  padding: 5px;
  margin: auto;
  background: #ccc;
  border: none;
}

.input:focus,
textarea:focus {
  outline: none;
  background-size: 100% 100%, 100% 100%;
  transition-duration: 0.3s;
  box-shadow: none;
}
.input:hover,
textarea:hover {
  outline: none;
  background-size: 100% 100%, 100% 100%;
  transition-duration: 0.3s;
  box-shadow: none;
}

.input:focus + .label,
.input:not(:placeholder-shown) + .label,
textarea:focus + .label,
textarea:not(:placeholder-shown) + .label {
  top: 10px;
}

::-webkit-input-placeholder {
  opacity: 0;
}

.input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  opacity: 1;
}

.date_picker {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  size: 14px;
  line-height: 17px;
  outline: none;
  left: 10px;
}

.wrapper {
  width: 320px;
  height: 100%;
  padding: 20px;
  margin: auto;
}

.button__wrapper{
  padding: 40px 0;
}

.button__ready {
  display: block;
  margin: 0 auto;
  width: 154px;
  height: 44px;
  font-family: "Montserrat";
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.04em;
  border: transparent;
  outline: none;
  cursor: pointer;
  border-radius: 25px;
  transition: all 0.25s linear;
  font-style: normal;
  font-weight: normal;
}
.button__ready {
  color: #fff;
  background: #ff6b08;
  margin-bottom: 20px;
}

.button__ready:focus,
.button__ready:hover {
  color: #ff6b08;
  background: #fff;
  border: 2px solid #ff6b08;
}

@media screen and (min-width: 767px) {
  .wrapper {
    width: 512px;
    padding: 40px;
  }

  .title {
    font-family: "Montserrat";
    font-weight: 500;
    font-style: normal;
    font-size: 36px;
    line-height: 44px;
  }

  .input,
  textarea {
    width: 429px;
    size: 16px;
    font-size: 18px;
    line-height: 22px;
    line-height: 20px;
  }

  .label {
    left: 30px;
    top: 40px;
  }

  .errorDiv {
    left: 25px;
  }

  .formItem {
    margin-bottom: 50px;
  }

  .checkbox_container {
    margin-bottom: 40px;
  }

  .input:focus + .label,
  .input:not(:placeholder-shown) + .label,
  textarea:focus + .label,
  textarea:not(:placeholder-shown) + .label {
    top: 5px;
  }
  .text {
    padding: 10px;
  }

  .flex_wrapper {
    display: flex;
    padding: 10px;
  }

  .duration_container {
    padding-top: 30px;
    width: 200px;
    margin-left: 30px;
  }

  .flex_wrapper .input {
    width: 200px;
  }

  .errorDiv {
    right: 10px;
    font-weight: 400;
    font-style: normal;
    size: 16px;
    line-height: 20px;
    padding: 5px;
  }
}
